body {
  color: rgb(228, 224, 224);
  font-family: "Creepster", cursive;
  letter-spacing: 0.3em;
  text-align: center;
}

h1 {
  font-size: 75px;
  color: rgb(129, 123, 123);
  text-shadow: 5px 5px white;
}

h2 {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.rule-box {
  border: 3px solid white;
  color: rgb(224, 218, 218);
  background-color: rgb(0, 0, 0, 0.7);
  margin-bottom: 20px;
  line-height: 2;
  font-size: 20px;
  font-style: italic;
}

.rules {
  text-align: left;
}

.ghost-hunt:link {
  color: yellow;
}

.ghost-hunt:visited {
  color: silver;
}

.game-table {
  display: flex;
  justify-content: center;
  font-size: 80px;
  color: white;
}

.table {
  border: 3px solid white;
  background-color: rgb(0, 0, 0, 0.7);
  flex-grow: 4;
}

td {
  height: 100px;
  width: 100px;
  border: 1px solid white;
}

td:hover {
  color: red;
}

.button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  text-transform: uppercase;
  font-family: "Creepster", cursive;
  font-size: 50px;
  color: red;
  background-color: black;
  border: 2px solid white;
}

footer {
  text-align: center;
  font-size: 15px;
}

.clicks {
  font-size: 60px;
}


/* ANIMATION */

.animation {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #f71414 0%,
    #e90f0f 29%,
    #960000 67%,
    #4d0000 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-decoration-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
